*,
*::before,
*::after {
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.--just-space {
  justify-content: space-between;
}

.--just-center {
  justify-content: center;
}

.--just-end {
  justify-content: flex-end;
}

.--align-str {
  align-items: stretch;
}

.--align-center {
  align-items: center;
}

.--align-end {
  align-items: flex-end;
}

.--dir-col {
  flex-direction: column;
}

html {
  font-size: 16px;
}

html,
body {
  min-height: 100%;
  position: relative;
}

body {
  font-family: "Noto Sans", serif;
  font-size: 16px;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.--button {
  background: #5c8ee5;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.--link {
    background: #5c8ee5;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }

.full-container {
  max-width: 1140px;
  margin: 0 auto;
}

.container {
  width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

.--white {
  color: #ffffff;
}

.--main {
  background: #5c8ee5;
}

.--p {
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}

.--bold {
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 25.6px;
}

.--h1 {
  font-family: 'Bebas Neue';
  font-size: 80px;
  font-weight: 400;
  line-height: 96px;
  
}

.--line-blue {
  position: relative;
  top: 0;
  left: 0;
}
.--line-blue:before {
  content: " ";
  position: absolute;
  top: -30px;
  left: 0;
  background: #5c8ee5;
  height: 2px;
  width: 150px;
  margin-bottom: 30px;
}
